body {
    min-width: 320px;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #626262;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #313130;
}
a:hover {
    color: #1a1616;
}

html {
    background-image: url(https://i.pinimg.com/originals/87/9f/ba/879fba21d66993bf0efb278e6767b658.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }