body {
    min-width: 320px;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #626262;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #313130;
}
a:hover {
    color: #1a1616;
}

html {
    background-image: url(https://raw.githubusercontent.com/Faticc/Faticc.github.io/main/backg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }